/** @format */

.home {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 30%;
     background: url("../../assets/backgrounds/background.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
     width: 100vw;

     .hero {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
               font-size: 28px;
               color: rgb(80, 160, 80);
               font-family: bakso;
               margin-bottom: 20px;

               @media (min-width: 768px) {
                    font-size: 36px;
               }
          }

          p {
               text-align: center;
               font-size: 19px;
               color: black;
               font-weight: 700;

               @media (min-width: 768px) {
                    font-size: 24px;
               }
          }
     }

     .get-started {
          margin: 100px 0;
          button {
               display: flex;
               align-items: center;
               gap: 10px;
               border: 1px solid greenyellow;
               padding: 5px 20px;
               transition: transform .2s ease-in;

               .icon {
                   transition: transform .2s ease-in;
                   font-size: 14px;
               }
          }

          button:hover {
               transform: scale(1.1);
               .icon {
                    transform: translateX(10px);
               }
          }
     }
}
