.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     width: 100%;
     position: relative;

     // border-bottom: 1px solid greenyellow;
     h1 {
          color: greenyellow;
          font-size: 24px;

          @media (min-width: 768px) {
               font-size: 46px;
          }
     }

     .nav-items {
          display: none;
          .link {
               font-size: 16px;
               color: rgb(48, 43, 43);
               transition: color .3s ease-in;

               @media (min-width: 768px) {
                    font-size: 36px;
               }
          }

          .link:hover {
               color: greenyellow;
          }
     }

     .nav-items.active {
          position: absolute;
          top: 100%;
          right: 0;
          padding: 50px 20px;
          display: flex;
          flex-direction: column;
          background: rgb(199, 93, 111);
          height: 100vh;

     }

     .menu {
          .icon {
               font-size: 24px;
               color: greenyellow;
          }
     }
}